<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Search Tab -->
  <ion-tab title="Encontrar" icon="ion-search" href="#/tab/encontrar">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Mensagens" icon="ion-chatboxes" href="#/tab/mensagens">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Minha conta" icon="ion-person" href="#/tab/minha-conta">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
